# Dependencies
node_modules/
.pnpm-store/

# Build & Output files
dist/
build/
*.tsbuildinfo

# SQLite Database dynamic files
backend/*.db-journal
backend/*.db-wal
backend/*.db-shm

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
